.error-msg {
    color: #f50;
    padding-left: 10px;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

.fixed-header.am-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.page-content {
    padding: 45px 5px;
}

.card_margin_bottom.am-card {
    margin-bottom: 5px;
}